<div class="container mt-4">
    <h2>Reservas</h2>
    
    <!-- Filtros -->
    <form  class="row g-3 mb-4">
      
      <div class="col-md-6">
        <label class="form-label">Buscar</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Buscar por empresa o código" 
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterBooking()">
      </div>
    </form>
    <!-- Tabla de Reservas -->
    <div class="table-responsive" >
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Empresa</th>
            <th>Lugar</th>
            <th>Fecha</th>
            <th>Personas</th>
            <th>Total</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
            @for (booking of filteredBookings; track $index) {
          <tr >
            <td>
              <span class="badge bg-secondary">{{booking.bookingCode}}</span>
            </td>
            <td>{{booking.companyName}}</td>
            <td>{{getVenueName(booking.venueId)}}</td>
            <td>
              {{booking.eventDate}}
              <small class="d-block text-muted">
                {{booking.startTime}} - {{booking.endTime}}
              </small>
            </td>
            <td>{{booking.totalPeople}}</td>
            <td>{{booking.totalAmount| currency}}</td>
            <td>
              <span [class]="getStatusBadgeClass('confirmed')">
                {{booking.status}}
              </span>
            </td>
          </tr>
        }
        </tbody>  
      </table>
   
    </div>
  </div>